.p-datatable .p-datatable-thead>tr>th .p-column-title {
    font-size: 0.8em;
}

.p-datatable .p-datatable-thead>tr>th {
  padding: 0.1em  !important ;
}

body .p-datatable .p-datatable-header, body .p-datatable .p-datatable-footer {
    padding: 0.1em  !important ;
    font-size: 0.8em;
    background-color: #f8f8ff !important ;
}

body .p-datatable .p-datatable-tbody > tr > td {
    padding: 0.2em !important;
    font-size: 0.8em;
}
