.table td, .table th {
    padding: 0.4rem;
    font-size: 0.8em;
}

body .p-listbox .p-listbox-list .p-listbox-item {
    font-size: 0.8em;
}

body .p-inputtext {
    font-size: 12px !important;
    width: 100% !important;
}

body .p-autocomplete-panel .p-autocomplete-items .p-autocomplete-list-item {
    padding: 0 !important;

}
